<template>
	<div class="formulario">
		<h3>Formulario:</h3>
		<vue-form :state="formstate" @submit.prevent="on_submit">
			<div class="contenedor-input">
				<validate tag="label">
					<label for="nombre">Nombre: *</label>
					<input type="text" name="nombre" id="nombre" v-model="persona.nombre" required />
					<field-messages name="nombre" show="$touched">
						<div class='alert' slot="required"> El campo nombre es requerido.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label">
					<label for="email">Email: *</label>
					<input type="email" name="email" id="email" v-model="persona.email" required />
					<field-messages name="email" show="$touched">
						<div class='alert' slot="required"> El campo email es requerido.</div>
						<div class='alert' slot="email"> Debe ingresar un email valido.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label">

					<label for="codigo">Codigo: *</label>
					<input type="number" name="codigo" id="codigo" min="0" v-model.number="persona.codigo" />

					<field-messages name="codigo" show="$touched">
						<div class='alert' slot="required"> El campo email es requerido.</div>
						<div class='alert' slot="number"> Debe ingresar un valor numerico.</div>
						<div class='alert' slot="min"> Debe ingresar un valor numerico mayor a 0.</div>
					</field-messages>
				</validate>
			</div>
			<div class="contenedor-input">
				<validate tag="label" :custom="{ 'comprobar-sabores': comprobar_sabores }">
					<label> Sabor de helado favorito: *</label>
					<div class="group-checkbox">
						<label for="chocolate" class="label-checkbox">
							<input type="checkbox" name="sabor" value='chocolate' v-model="persona.sabor"
								required /> Chocolate: 
						</label>
						<label for="vainilla" class="label-checkbox">
							<input type="checkbox" name="sabor" value='vainilla' v-model="persona.sabor"
								required /> Vainilla:
							</label>
						<label for="frutilla" class="label-checkbox">
							<input type="checkbox" name="sabor" value='frutilla' v-model="persona.sabor"
								required /> Frutilla:
							</label>

						<field-messages name="sabor" show="$touched">
							<div class='alert' slot="comprobar-sabores"> Debe seleccionar al menos un sabor de helado.</div>
						</field-messages>
					</div>
				</validate>
			</div>
			<button id="enviar">Guardar persona</button>
			<div class='alert' v-if="alerta_formulario.length > 0">{{ alerta_formulario }}</div>
		</vue-form>
	</div>
</template>

<script>

export default {
	name: 'FormComponent',
	data() {
		return {
			persona: {
				nombre: "",
				email: "",
				codigo: "",
				sabor: [],
			},
			formstate: {},
			alerta_formulario: ''
		}
	},
	methods: {
		on_submit() {
			this.alerta_formulario = '';
			if (this.formstate.$valid) {
				this.$emit('grabar-persona', this.persona);
				//Reinicio los touched para que no levante los mensajes de error.
				this.formstate['nombre'].$touched = false;
				this.formstate['email'].$touched = false;
				this.formstate['codigo'].$touched = false;
				this.formstate['sabor'].$touched = false;
				this.persona = {};
				return;
			}
			this.alerta_formulario = 'Debe completar los campos marcados con *';
		},
		comprobar_sabores(valor) {
			if (valor.length > 0) {
				return true;
			}

			return false;
		}
	}
}
</script>

<style scoped>
.formulario {
	width: 30%;
	margin: auto;
}

label {
	display: inline-block;
	width: 100%;
}

input {
	width: 100%;
	border: 0px;
	border-bottom: 1px solid orangered;
	outline: none;
	height: 35px;
	line-height: 35px;
}

.contenedor-input{
	margin: 20px 0px;
}

.alert{
	font-size: 0.8rem;
	color: red;
	font-weight: bold;
}

input[type='checkbox'] { 
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.label-checkbox{
	display: flex;
    align-items: center;
    width: 100%;
}

#enviar{
	background-color: orangered;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 5px;
	margin: 20px 0px;
	border: 0px;
	cursor: pointer;
	transition: transform 0.3s;
}

#enviar:active{
	transform: scale(1.03);
}

</style>
