<template>
	<div class="contenedor">
		<h3>Tabla de personas:</h3>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Codigo</th>
				<th>Sabor</th>
			</tr>
			<tr v-for="(persona, index) in personas" :key="index">
				<td>{{ persona.nombre }}</td>
				<td>{{ persona.email }}</td>
				<td>{{ persona.codigo }}</td>
				<td>
					<p v-for="(sabor, indice_sabor) in persona.sabor" :key="indice_sabor">
						{{ sabor }}
					</p>
					
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
export default {
	name: 'TableComponent',
	props: {
		personas: Array
	}
}
</script>

<style scoped>

.contenedor{
	width: 80%;
	margin: auto;
}

table{
	width: 100%;
}

th, td{
	text-align: left;
	border-bottom: 1px dashed orangered;
	border-right: 1px dashed orangered;
}

</style>
