<template>
	<div id="app">
		<FormComponent @grabar-persona="agregar_persona"/>
		<TableComponent :personas=personas />
	</div>
</template>

<script>
import TableComponent from './components/TableComponent.vue'
import FormComponent from './components/FormComponent.vue'

export default {
	name: 'App',
	components: {
		TableComponent,
		FormComponent
	},
	data() {
		return {
			personas: [
				{
					'nombre': 'Nelson',
					'email': 'neg90@hotmail.com',
					'codigo': 993,
					'sabor': ['chocolate']
				},
				{
					'nombre': 'Virginia',
					'email': 'vickymaylanda@hotmail.com',
					'codigo': 668,
					'sabor': ['vainilla']
				}
			]
		}
	},
	methods: {
		agregar_persona(persona) {
			this.personas.push(persona);
		}
	}
}
</script>

<style>
body{
	font-family: sans-serif;
}
</style>
